

/* Black Atom — Dimmed Light */
.theme-light.black-atom-default-dimmed-light {
  /* Foundation: Base Colors */

  --color-base-00: #ecf3fa;
  --color-base-05: #dfe5ec;
  --color-base-10: #cbd2d9;
  --color-base-20: #b8bec5;
  --color-base-25: #757b81;
  --color-base-30: #646a70;
  --color-base-35: #53595f;
  --color-base-40: #43484e;
  --color-base-50: #292e34;
  --color-base-60: #1b2025;
  --color-base-70: #0e1217;
  --color-base-100: #03060a;


  /* Extended Colors */
  --color-red: #53595f;
  --color-red-rgb: 83, 89, 95;
  --color-orange: #646a70;
  --color-orange-rgb: 100, 106, 112;
  --color-yellow: #646a70;
  --color-yellow-rgb: 100, 106, 112;
  --color-green: #757b81;
  --color-green-rgb: 117, 123, 129;
  --color-cyan: #19b168;
  --color-cyan-rgb: 25, 177, 104;
  --color-blue: #53595f;
  --color-blue-rgb: 83, 89, 95;
  --color-purple: #6390fa;
  --color-purple-rgb: 99, 144, 250;
  --color-pink: #fb4583;
  --color-pink-rgb: 251, 69, 131;

  /* Backgrounds */
  --background-primary: #dfe5ec;
  --background-primary-alt: #ecf3fa;
  --background-secondary: #cbd2d9;
  --background-secondary-alt: #cbd2d9;
  --background-modifier-hover: #b8bec5;
  --background-modifier-active-hover: #b8bec5;
  --background-modifier-border: #ecf3fa;
  --background-modifier-border-hover: #b8bec5;
  --background-modifier-border-focus: #19b168;
  --background-modifier-error-rgb: 246, 226, 231;
  --background-modifier-error: #f6e2e7;
  --background-modifier-error-hover: #f6e2e7;
  --background-modifier-success-rgb: 214, 231, 214;
  --background-modifier-success: #d6e7d6;
  --background-modifier-message: #d6e4e5;
  --background-modifier-form-field: #dfe5ec;

  /* Text */
  --text-normal: #0e1217;
  --text-muted: #43484e;
  --text-faint: #646a70;
  --text-accent: #19b168;
  --text-accent-hover: #19b168;
  --text-on-accent: #cbd2d9;
  --text-on-accent-inverted: #0e1217;
  --text-error: #fb80aa;
  --text-warning: #f29520;
  --text-success: #11a22f;
  --text-selection: #b8bec5;
  --text-highlight-bg: #b8bec5;

  /* Interactive */
  --interactive-normal: #dfe5ec;
  --interactive-hover: #b8bec5;
  --interactive-accent: #19b168;
  --interactive-accent-hover: #19b168;

  /* Headings */
  --h1-color: #19b168;
  --h2-color: #19b168;
  --h3-color: #19b168;
  --h4-color: #292e34;
  --h5-color: #292e34;
  --h6-color: #292e34;

  /* Markup */
  --bold-color: #19b168;
  --italic-color: #19b168;
  --blockquote-border-color: #53595f;
  --link-color: #19b168;
  --link-color-hover: #19b168;
  --link-external-color: #19b168;
  --link-external-color-hover: #19b168;

  /* Code / Syntax Highlighting */
  --code-normal: #292e34;
  --code-comment: #757b81;
  --code-function: #1b2025;
  --code-important: #6390fa;
  --code-keyword: #6390fa;
  --code-operator: #1b2025;
  --code-property: #53595f;
  --code-punctuation: #292e34;
  --code-string: #11a22f;
  --code-tag: #19b168;
  --code-value: #292e34;
  --code-background: #b8bec5;

  /* Tags */
  --tag-color: #19b168;
  --tag-color-hover: #19b168;
  --tag-background: #b8bec5;
  --tag-background-hover: #ecf3fa;

  /* Graph */
  --graph-line: #ecf3fa;
  --graph-node: #19b168;
  --graph-node-focused: #19b168;
  --graph-node-tag: #19b168;
  --graph-node-attachment: #757b81;

  /* Scrollbar */
  --scrollbar-bg: #dfe5ec;
  --scrollbar-thumb-bg: #ecf3fa;
  --scrollbar-active-thumb-bg: #43484e;

  /* Nav */
  --nav-item-background-hover: #b8bec5;
  --nav-item-background-active: #ecf3fa;
  --nav-item-background-selected: #b8bec5;
  --nav-item-color: #0e1217;
  --nav-item-color-hover: #0e1217;
  --nav-item-color-active: #19b168;
  --nav-item-color-selected: #0e1217;
}
