

/* Black Atom — JPN ∷ Sanshoku Dark */
.theme-dark.black-atom-jpn-sanshoku-dark {
  /* Foundation: Base Colors */

  --color-base-00: #162f48;
  --color-base-05: #1d364f;
  --color-base-10: #233c56;
  --color-base-20: #2a435d;
  --color-base-25: #4f759c;
  --color-base-30: #5d84ac;
  --color-base-35: #6c93bc;
  --color-base-40: #8ab2dc;
  --color-base-50: #c2cad3;
  --color-base-60: #d2dae3;
  --color-base-70: #e2ebf3;
  --color-base-100: #f8fafd;


  /* Extended Colors */
  --color-red: #f86c59;
  --color-red-rgb: 248, 108, 89;
  --color-orange: #d78c00;
  --color-orange-rgb: 215, 140, 0;
  --color-yellow: #f8ac3d;
  --color-yellow-rgb: 248, 172, 61;
  --color-green: #6fc483;
  --color-green-rgb: 111, 196, 131;
  --color-cyan: #53c1c7;
  --color-cyan-rgb: 83, 193, 199;
  --color-blue: #76b1fc;
  --color-blue-rgb: 118, 177, 252;
  --color-purple: #e274ab;
  --color-purple-rgb: 226, 116, 171;
  --color-pink: #c0558d;
  --color-pink-rgb: 192, 85, 141;

  /* Backgrounds */
  --background-primary: #1d364f;
  --background-primary-alt: #233c56;
  --background-secondary: #162f48;
  --background-secondary-alt: #162f48;
  --background-modifier-hover: #233c56;
  --background-modifier-active-hover: #233c56;
  --background-modifier-border: #233c56;
  --background-modifier-border-hover: #233c56;
  --background-modifier-border-focus: #f8ac3d;
  --background-modifier-error-rgb: 127, 77, 68;
  --background-modifier-error: #7f4d44;
  --background-modifier-error-hover: #7f4d44;
  --background-modifier-success-rgb: 77, 106, 83;
  --background-modifier-success: #4d6a53;
  --background-modifier-message: #4f647e;
  --background-modifier-form-field: #1d364f;

  /* Text */
  --text-normal: #e2ebf3;
  --text-muted: #8ab2dc;
  --text-faint: #6c93bc;
  --text-accent: #f8ac3d;
  --text-accent-hover: #f8ac3d;
  --text-on-accent: #1d364f;
  --text-on-accent-inverted: #e2ebf3;
  --text-error: #f86c59;
  --text-warning: #f8ac3d;
  --text-success: #6fc483;
  --text-selection: #2a435d;
  --text-highlight-bg: #2a435d;

  /* Interactive */
  --interactive-normal: #1d364f;
  --interactive-hover: #233c56;
  --interactive-accent: #f8ac3d;
  --interactive-accent-hover: #f8ac3d;

  /* Headings */
  --h1-color: #f8ac3d;
  --h2-color: #f8ac3d;
  --h3-color: #f8ac3d;
  --h4-color: #8ab2dc;
  --h5-color: #8ab2dc;
  --h6-color: #8ab2dc;

  /* Markup */
  --bold-color: #f8ac3d;
  --italic-color: #f8ac3d;
  --blockquote-border-color: #6fc483;
  --link-color: #6fc483;
  --link-color-hover: #6fc483;
  --link-external-color: #6fc483;
  --link-external-color-hover: #6fc483;

  /* Code / Syntax Highlighting */
  --code-normal: #d2dae3;
  --code-comment: #5d84ac;
  --code-function: #f8ac3d;
  --code-important: #f86c59;
  --code-keyword: #f86c59;
  --code-operator: #5891da;
  --code-property: #76b1fc;
  --code-punctuation: #8ab2dc;
  --code-string: #6fc483;
  --code-tag: #f8ac3d;
  --code-value: #5891da;
  --code-background: #2a435d;

  /* Tags */
  --tag-color: #f8ac3d;
  --tag-color-hover: #f8ac3d;
  --tag-background: #233c56;
  --tag-background-hover: #233c56;

  /* Graph */
  --graph-line: #233c56;
  --graph-node: #f8ac3d;
  --graph-node-focused: #f8ac3d;
  --graph-node-tag: #53c1c7;
  --graph-node-attachment: #6fc483;

  /* Scrollbar */
  --scrollbar-bg: #1d364f;
  --scrollbar-thumb-bg: #233c56;
  --scrollbar-active-thumb-bg: #8ab2dc;

  /* Nav */
  --nav-item-background-hover: #233c56;
  --nav-item-background-active: #233c56;
  --nav-item-background-selected: #2a435d;
  --nav-item-color: #e2ebf3;
  --nav-item-color-hover: #e2ebf3;
  --nav-item-color-active: #f8ac3d;
  --nav-item-color-selected: #e2ebf3;
}
