

/* Black Atom — JPN ∷ Sanshoku Light */
.theme-light.black-atom-jpn-sanshoku-light {
  /* Foundation: Base Colors */

  --color-base-00: #d2dbdf;
  --color-base-05: #c3cfd4;
  --color-base-10: #b4c3c9;
  --color-base-20: #a8b9c0;
  --color-base-25: #7b919d;
  --color-base-30: #617683;
  --color-base-35: #576975;
  --color-base-40: #4c5d67;
  --color-base-50: #2d404b;
  --color-base-60: #1c2b34;
  --color-base-70: #0f212d;
  --color-base-100: #121b21;


  /* Extended Colors */
  --color-red: #db5241;
  --color-red-rgb: 219, 82, 65;
  --color-orange: #ac6900;
  --color-orange-rgb: 172, 105, 0;
  --color-yellow: #cc8f00;
  --color-yellow-rgb: 204, 143, 0;
  --color-green: #429c5a;
  --color-green-rgb: 66, 156, 90;
  --color-cyan: #1c989e;
  --color-cyan-rgb: 28, 152, 158;
  --color-blue: #457ea1;
  --color-blue-rgb: 69, 126, 161;
  --color-purple: #c65b93;
  --color-purple-rgb: 198, 91, 147;
  --color-pink: #a53c75;
  --color-pink-rgb: 165, 60, 117;

  /* Backgrounds */
  --background-primary: #c3cfd4;
  --background-primary-alt: #d2dbdf;
  --background-secondary: #b4c3c9;
  --background-secondary-alt: #b4c3c9;
  --background-modifier-hover: #b4c3c9;
  --background-modifier-active-hover: #b4c3c9;
  --background-modifier-border: #d2dbdf;
  --background-modifier-border-hover: #b4c3c9;
  --background-modifier-border-focus: #cc8f00;
  --background-modifier-error-rgb: 214, 177, 171;
  --background-modifier-error: #d6b1ab;
  --background-modifier-error-hover: #d6b1ab;
  --background-modifier-success-rgb: 173, 193, 176;
  --background-modifier-success: #adc1b0;
  --background-modifier-message: #abb9c2;
  --background-modifier-form-field: #c3cfd4;

  /* Text */
  --text-normal: #0f212d;
  --text-muted: #617683;
  --text-faint: #7b919d;
  --text-accent: #cc8f00;
  --text-accent-hover: #cc8f00;
  --text-on-accent: #c3cfd4;
  --text-on-accent-inverted: #0f212d;
  --text-error: #db5241;
  --text-warning: #cc8f00;
  --text-success: #429c5a;
  --text-selection: #b4c3c9;
  --text-highlight-bg: #b4c3c9;

  /* Interactive */
  --interactive-normal: #c3cfd4;
  --interactive-hover: #b4c3c9;
  --interactive-accent: #cc8f00;
  --interactive-accent-hover: #cc8f00;

  /* Headings */
  --h1-color: #cc8f00;
  --h2-color: #cc8f00;
  --h3-color: #cc8f00;
  --h4-color: #4c5d67;
  --h5-color: #4c5d67;
  --h6-color: #4c5d67;

  /* Markup */
  --bold-color: #cc8f00;
  --italic-color: #cc8f00;
  --blockquote-border-color: #429c5a;
  --link-color: #429c5a;
  --link-color-hover: #429c5a;
  --link-external-color: #429c5a;
  --link-external-color-hover: #429c5a;

  /* Code / Syntax Highlighting */
  --code-normal: #457ea1;
  --code-comment: #4c5d67;
  --code-function: #cc8f00;
  --code-important: #c65b93;
  --code-keyword: #c65b93;
  --code-operator: #2b6083;
  --code-property: #457ea1;
  --code-punctuation: #4c5d67;
  --code-string: #429c5a;
  --code-tag: #cc8f00;
  --code-value: #2b6083;
  --code-background: #a8b9c0;

  /* Tags */
  --tag-color: #cc8f00;
  --tag-color-hover: #cc8f00;
  --tag-background: #b4c3c9;
  --tag-background-hover: #d2dbdf;

  /* Graph */
  --graph-line: #d2dbdf;
  --graph-node: #cc8f00;
  --graph-node-focused: #cc8f00;
  --graph-node-tag: #1c989e;
  --graph-node-attachment: #429c5a;

  /* Scrollbar */
  --scrollbar-bg: #c3cfd4;
  --scrollbar-thumb-bg: #d2dbdf;
  --scrollbar-active-thumb-bg: #617683;

  /* Nav */
  --nav-item-background-hover: #b4c3c9;
  --nav-item-background-active: #d2dbdf;
  --nav-item-background-selected: #b4c3c9;
  --nav-item-color: #0f212d;
  --nav-item-color-hover: #0f212d;
  --nav-item-color-active: #cc8f00;
  --nav-item-color-selected: #0f212d;
}
