

/* Black Atom — Facility ∷ Dimmed Light */
.theme-light.black-atom-facility-dimmed-light {
  /* Foundation: Base Colors */

  --color-base-00: #f6fbfb;
  --color-base-05: #eaf0f0;
  --color-base-10: #dee4e4;
  --color-base-20: #d2d9d9;
  --color-base-25: #77a494;
  --color-base-30: #669a84;
  --color-base-35: #517a65;
  --color-base-40: #476a5f;
  --color-base-50: #425953;
  --color-base-60: #384b42;
  --color-base-70: #2b3b33;
  --color-base-100: #22272f;


  /* Extended Colors */
  --color-red: #cb4c7c;
  --color-red-rgb: 203, 76, 124;
  --color-orange: #d7a537;
  --color-orange-rgb: 215, 165, 55;
  --color-yellow: #a8ba33;
  --color-yellow-rgb: 168, 186, 51;
  --color-green: #3f9640;
  --color-green-rgb: 63, 150, 64;
  --color-cyan: #009a52;
  --color-cyan-rgb: 0, 154, 82;
  --color-blue: #476a5f;
  --color-blue-rgb: 71, 106, 95;
  --color-purple: #8074bd;
  --color-purple-rgb: 128, 116, 189;
  --color-pink: #7062b8;
  --color-pink-rgb: 112, 98, 184;

  /* Backgrounds */
  --background-primary: #eaf0f0;
  --background-primary-alt: #d2d9d9;
  --background-secondary: #dee4e4;
  --background-secondary-alt: #dee4e4;
  --background-modifier-hover: #d2d9d9;
  --background-modifier-active-hover: #d2d9d9;
  --background-modifier-border: #d2d9d9;
  --background-modifier-border-hover: #d2d9d9;
  --background-modifier-border-focus: #a8ba33;
  --background-modifier-error-rgb: 234, 199, 208;
  --background-modifier-error: #eac7d0;
  --background-modifier-error-hover: #eac7d0;
  --background-modifier-success-rgb: 196, 216, 194;
  --background-modifier-success: #c4d8c2;
  --background-modifier-message: #c2cbc8;
  --background-modifier-form-field: #eaf0f0;

  /* Text */
  --text-normal: #2b3b33;
  --text-muted: #669a84;
  --text-faint: #77a494;
  --text-accent: #a8ba33;
  --text-accent-hover: #a8ba33;
  --text-on-accent: #eaf0f0;
  --text-on-accent-inverted: #2b3b33;
  --text-error: #cb4c7c;
  --text-warning: #a8ba33;
  --text-success: #3f9640;
  --text-selection: #d2d9d9;
  --text-highlight-bg: #d2d9d9;

  /* Interactive */
  --interactive-normal: #eaf0f0;
  --interactive-hover: #d2d9d9;
  --interactive-accent: #a8ba33;
  --interactive-accent-hover: #a8ba33;

  /* Headings */
  --h1-color: #a8ba33;
  --h2-color: #a8ba33;
  --h3-color: #a8ba33;
  --h4-color: #476a5f;
  --h5-color: #476a5f;
  --h6-color: #476a5f;

  /* Markup */
  --bold-color: #a8ba33;
  --italic-color: #a8ba33;
  --blockquote-border-color: #3f9640;
  --link-color: #3f9640;
  --link-color-hover: #3f9640;
  --link-external-color: #3f9640;
  --link-external-color-hover: #3f9640;

  /* Code / Syntax Highlighting */
  --code-normal: #476a5f;
  --code-comment: #669a84;
  --code-function: #a8ba33;
  --code-important: #8074bd;
  --code-keyword: #8074bd;
  --code-operator: #8074bd;
  --code-property: #476a5f;
  --code-punctuation: #476a5f;
  --code-string: #3f9640;
  --code-tag: #a8ba33;
  --code-value: #476a5f;
  --code-background: #d2d9d9;

  /* Tags */
  --tag-color: #a8ba33;
  --tag-color-hover: #a8ba33;
  --tag-background: #d2d9d9;
  --tag-background-hover: #d2d9d9;

  /* Graph */
  --graph-line: #d2d9d9;
  --graph-node: #a8ba33;
  --graph-node-focused: #a8ba33;
  --graph-node-tag: #009a52;
  --graph-node-attachment: #3f9640;

  /* Scrollbar */
  --scrollbar-bg: #eaf0f0;
  --scrollbar-thumb-bg: #d2d9d9;
  --scrollbar-active-thumb-bg: #669a84;

  /* Nav */
  --nav-item-background-hover: #d2d9d9;
  --nav-item-background-active: #d2d9d9;
  --nav-item-background-selected: #d2d9d9;
  --nav-item-color: #2b3b33;
  --nav-item-color-hover: #2b3b33;
  --nav-item-color-active: #a8ba33;
  --nav-item-color-selected: #2b3b33;
}
