

/* Black Atom — Facility ∷ Dimmed Dark */
.theme-dark.black-atom-facility-dimmed-dark {
  /* Foundation: Base Colors */

  --color-base-00: #131717;
  --color-base-05: #1c2020;
  --color-base-10: #242a2a;
  --color-base-20: #333939;
  --color-base-25: #51796d;
  --color-base-30: #5b8972;
  --color-base-35: #75a490;
  --color-base-40: #91bcad;
  --color-base-50: #9bdebe;
  --color-base-60: #abe7ca;
  --color-base-70: #c1efd5;
  --color-base-100: #cef6de;


  /* Extended Colors */
  --color-red: #f08cb4;
  --color-red-rgb: 240, 140, 180;
  --color-orange: #e9b565;
  --color-orange-rgb: 233, 181, 101;
  --color-yellow: #dbee7a;
  --color-yellow-rgb: 219, 238, 122;
  --color-green: #80c980;
  --color-green-rgb: 128, 201, 128;
  --color-cyan: #75d69e;
  --color-cyan-rgb: 117, 214, 158;
  --color-blue: #abe7ca;
  --color-blue-rgb: 171, 231, 202;
  --color-purple: #b6bee0;
  --color-purple-rgb: 182, 190, 224;
  --color-pink: #a2b0e0;
  --color-pink-rgb: 162, 176, 224;

  /* Backgrounds */
  --background-primary: #1c2020;
  --background-primary-alt: #242a2a;
  --background-secondary: #131717;
  --background-secondary-alt: #131717;
  --background-modifier-hover: #242a2a;
  --background-modifier-active-hover: #242a2a;
  --background-modifier-border: #242a2a;
  --background-modifier-border-hover: #242a2a;
  --background-modifier-border-focus: #dbee7a;
  --background-modifier-error-rgb: 108, 72, 86;
  --background-modifier-error: #6c4856;
  --background-modifier-error-hover: #6c4856;
  --background-modifier-success-rgb: 68, 93, 68;
  --background-modifier-success: #445d44;
  --background-modifier-message: #53675d;
  --background-modifier-form-field: #1c2020;

  /* Text */
  --text-normal: #c1efd5;
  --text-muted: #91bcad;
  --text-faint: #75a490;
  --text-accent: #dbee7a;
  --text-accent-hover: #dbee7a;
  --text-on-accent: #1c2020;
  --text-on-accent-inverted: #c1efd5;
  --text-error: #f08cb4;
  --text-warning: #dbee7a;
  --text-success: #80c980;
  --text-selection: #333939;
  --text-highlight-bg: #333939;

  /* Interactive */
  --interactive-normal: #1c2020;
  --interactive-hover: #242a2a;
  --interactive-accent: #dbee7a;
  --interactive-accent-hover: #dbee7a;

  /* Headings */
  --h1-color: #dbee7a;
  --h2-color: #dbee7a;
  --h3-color: #dbee7a;
  --h4-color: #9bdebe;
  --h5-color: #9bdebe;
  --h6-color: #9bdebe;

  /* Markup */
  --bold-color: #dbee7a;
  --italic-color: #dbee7a;
  --blockquote-border-color: #80c980;
  --link-color: #80c980;
  --link-color-hover: #80c980;
  --link-external-color: #80c980;
  --link-external-color-hover: #80c980;

  /* Code / Syntax Highlighting */
  --code-normal: #abe7ca;
  --code-comment: #51796d;
  --code-function: #dbee7a;
  --code-important: #b6bee0;
  --code-keyword: #b6bee0;
  --code-operator: #b6bee0;
  --code-property: #91bcad;
  --code-punctuation: #9bdebe;
  --code-string: #80c980;
  --code-tag: #dbee7a;
  --code-value: #abe7ca;
  --code-background: #333939;

  /* Tags */
  --tag-color: #dbee7a;
  --tag-color-hover: #dbee7a;
  --tag-background: #242a2a;
  --tag-background-hover: #242a2a;

  /* Graph */
  --graph-line: #242a2a;
  --graph-node: #dbee7a;
  --graph-node-focused: #dbee7a;
  --graph-node-tag: #75d69e;
  --graph-node-attachment: #80c980;

  /* Scrollbar */
  --scrollbar-bg: #1c2020;
  --scrollbar-thumb-bg: #242a2a;
  --scrollbar-active-thumb-bg: #91bcad;

  /* Nav */
  --nav-item-background-hover: #242a2a;
  --nav-item-background-active: #242a2a;
  --nav-item-background-selected: #333939;
  --nav-item-color: #c1efd5;
  --nav-item-color-hover: #c1efd5;
  --nav-item-color-active: #dbee7a;
  --nav-item-color-selected: #c1efd5;
}
