

/* Black Atom — Minium ∷ Polymer Light */
.theme-light.black-atom-minium-polymer-light {
  /* Foundation: Base Colors */

  --color-base-00: #ebebeb;
  --color-base-05: #dbdbdb;
  --color-base-10: #cacacc;
  --color-base-20: #c4c4c4;
  --color-base-25: #939d9f;
  --color-base-30: #757b80;
  --color-base-35: #5b6168;
  --color-base-40: #46474c;
  --color-base-50: #404040;
  --color-base-60: #252728;
  --color-base-70: #1d1d1d;
  --color-base-100: #0f0f11;


  /* Extended Colors */
  --color-red: #939d9f;
  --color-red-rgb: 147, 157, 159;
  --color-orange: #18171f;
  --color-orange-rgb: 24, 23, 31;
  --color-yellow: #f55d12;
  --color-yellow-rgb: 245, 93, 18;
  --color-green: #757b80;
  --color-green-rgb: 117, 123, 128;
  --color-cyan: #939d9f;
  --color-cyan-rgb: 147, 157, 159;
  --color-blue: #939d9f;
  --color-blue-rgb: 147, 157, 159;
  --color-purple: #757b80;
  --color-purple-rgb: 117, 123, 128;
  --color-pink: #757b80;
  --color-pink-rgb: 117, 123, 128;

  /* Backgrounds */
  --background-primary: #dbdbdb;
  --background-primary-alt: #ebebeb;
  --background-secondary: #cacacc;
  --background-secondary-alt: #cacacc;
  --background-modifier-hover: #cacacc;
  --background-modifier-active-hover: #cacacc;
  --background-modifier-border: #ebebeb;
  --background-modifier-border-hover: #cacacc;
  --background-modifier-border-focus: #f55d12;
  --background-modifier-error-rgb: 243, 199, 195;
  --background-modifier-error: #f3c7c3;
  --background-modifier-error-hover: #f3c7c3;
  --background-modifier-success-rgb: 207, 216, 188;
  --background-modifier-success: #cfd8bc;
  --background-modifier-message: #c0daec;
  --background-modifier-form-field: #dbdbdb;

  /* Text */
  --text-normal: #1d1d1d;
  --text-muted: #46474c;
  --text-faint: #757b80;
  --text-accent: #f55d12;
  --text-accent-hover: #f55d12;
  --text-on-accent: #cacacc;
  --text-on-accent-inverted: #1d1d1d;
  --text-error: #f14d4c;
  --text-warning: #cd7b00;
  --text-success: #819e00;
  --text-selection: #c4c4c4;
  --text-highlight-bg: #c4c4c4;

  /* Interactive */
  --interactive-normal: #dbdbdb;
  --interactive-hover: #cacacc;
  --interactive-accent: #f55d12;
  --interactive-accent-hover: #f55d12;

  /* Headings */
  --h1-color: #f55d12;
  --h2-color: #f55d12;
  --h3-color: #f55d12;
  --h4-color: #46474c;
  --h5-color: #46474c;
  --h6-color: #46474c;

  /* Markup */
  --bold-color: #f55d12;
  --italic-color: #f55d12;
  --blockquote-border-color: #757b80;
  --link-color: #18171f;
  --link-color-hover: #18171f;
  --link-external-color: #18171f;
  --link-external-color-hover: #18171f;

  /* Code / Syntax Highlighting */
  --code-normal: #252728;
  --code-comment: #5b6168;
  --code-function: #f55d12;
  --code-important: #18171f;
  --code-keyword: #18171f;
  --code-operator: #1d1d1d;
  --code-property: #46474c;
  --code-punctuation: #404040;
  --code-string: #5b6168;
  --code-tag: #18171f;
  --code-value: #1d1d1d;
  --code-background: #c4c4c4;

  /* Tags */
  --tag-color: #f55d12;
  --tag-color-hover: #f55d12;
  --tag-background: #cacacc;
  --tag-background-hover: #ebebeb;

  /* Graph */
  --graph-line: #ebebeb;
  --graph-node: #f55d12;
  --graph-node-focused: #f55d12;
  --graph-node-tag: #939d9f;
  --graph-node-attachment: #757b80;

  /* Scrollbar */
  --scrollbar-bg: #dbdbdb;
  --scrollbar-thumb-bg: #ebebeb;
  --scrollbar-active-thumb-bg: #46474c;

  /* Nav */
  --nav-item-background-hover: #cacacc;
  --nav-item-background-active: #ebebeb;
  --nav-item-background-selected: #c4c4c4;
  --nav-item-color: #1d1d1d;
  --nav-item-color-hover: #1d1d1d;
  --nav-item-color-active: #f55d12;
  --nav-item-color-selected: #1d1d1d;
}
