

/* Black Atom — Minium ∷ Polymer Dark */
.theme-dark.black-atom-minium-polymer-dark {
  /* Foundation: Base Colors */

  --color-base-00: #1d1d1d;
  --color-base-05: #252728;
  --color-base-10: #27292a;
  --color-base-20: #404040;
  --color-base-25: #46474c;
  --color-base-30: #5b6168;
  --color-base-35: #757b80;
  --color-base-40: #939d9f;
  --color-base-50: #b1b1b1;
  --color-base-60: #bbbbb8;
  --color-base-70: #cfcdcb;
  --color-base-100: #ebebeb;


  /* Extended Colors */
  --color-red: #939d9f;
  --color-red-rgb: 147, 157, 159;
  --color-orange: #d0e1e9;
  --color-orange-rgb: 208, 225, 233;
  --color-yellow: #ff8352;
  --color-yellow-rgb: 255, 131, 82;
  --color-green: #757b80;
  --color-green-rgb: 117, 123, 128;
  --color-cyan: #939d9f;
  --color-cyan-rgb: 147, 157, 159;
  --color-blue: #939d9f;
  --color-blue-rgb: 147, 157, 159;
  --color-purple: #757b80;
  --color-purple-rgb: 117, 123, 128;
  --color-pink: #757b80;
  --color-pink-rgb: 117, 123, 128;

  /* Backgrounds */
  --background-primary: #252728;
  --background-primary-alt: #27292a;
  --background-secondary: #1d1d1d;
  --background-secondary-alt: #1d1d1d;
  --background-modifier-hover: #27292a;
  --background-modifier-active-hover: #27292a;
  --background-modifier-border: #27292a;
  --background-modifier-border-hover: #27292a;
  --background-modifier-border-focus: #ff8352;
  --background-modifier-error-rgb: 100, 63, 63;
  --background-modifier-error: #643f3f;
  --background-modifier-error-hover: #643f3f;
  --background-modifier-success-rgb: 80, 86, 64;
  --background-modifier-success: #505640;
  --background-modifier-message: #40555d;
  --background-modifier-form-field: #252728;

  /* Text */
  --text-normal: #cfcdcb;
  --text-muted: #757b80;
  --text-faint: #5b6168;
  --text-accent: #ff8352;
  --text-accent-hover: #ff8352;
  --text-on-accent: #252728;
  --text-on-accent-inverted: #cfcdcb;
  --text-error: #dd7577;
  --text-warning: #d6b174;
  --text-success: #a9ba78;
  --text-selection: #404040;
  --text-highlight-bg: #404040;

  /* Interactive */
  --interactive-normal: #252728;
  --interactive-hover: #27292a;
  --interactive-accent: #ff8352;
  --interactive-accent-hover: #ff8352;

  /* Headings */
  --h1-color: #ff8352;
  --h2-color: #ff8352;
  --h3-color: #ff8352;
  --h4-color: #939d9f;
  --h5-color: #939d9f;
  --h6-color: #939d9f;

  /* Markup */
  --bold-color: #ff8352;
  --italic-color: #ff8352;
  --blockquote-border-color: #5b6168;
  --link-color: #d0e1e9;
  --link-color-hover: #d0e1e9;
  --link-external-color: #d0e1e9;
  --link-external-color-hover: #d0e1e9;

  /* Code / Syntax Highlighting */
  --code-normal: #bbbbb8;
  --code-comment: #757b80;
  --code-function: #ff8352;
  --code-important: #d0e1e9;
  --code-keyword: #d0e1e9;
  --code-operator: #cfcdcb;
  --code-property: #d0e1e9;
  --code-punctuation: #b1b1b1;
  --code-string: #bbbbb8;
  --code-tag: #ff8352;
  --code-value: #b1b1b1;
  --code-background: #404040;

  /* Tags */
  --tag-color: #ff8352;
  --tag-color-hover: #ff8352;
  --tag-background: #27292a;
  --tag-background-hover: #27292a;

  /* Graph */
  --graph-line: #27292a;
  --graph-node: #ff8352;
  --graph-node-focused: #ff8352;
  --graph-node-tag: #939d9f;
  --graph-node-attachment: #757b80;

  /* Scrollbar */
  --scrollbar-bg: #252728;
  --scrollbar-thumb-bg: #27292a;
  --scrollbar-active-thumb-bg: #757b80;

  /* Nav */
  --nav-item-background-hover: #27292a;
  --nav-item-background-active: #27292a;
  --nav-item-background-selected: #404040;
  --nav-item-color: #cfcdcb;
  --nav-item-color-hover: #cfcdcb;
  --nav-item-color-active: #ff8352;
  --nav-item-color-selected: #cfcdcb;
}
